<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Waifu2x.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Waifu2x.Settings>
            <setting name="IsFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputSuffix" serializeAs="String">
                <value>_waifu</value>
            </setting>
            <setting name="ScaleIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DenoiseIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Grayscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>850</value>
            </setting>
        </Waifu2x.Settings>
    </userSettings>
</configuration>